<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :parent_id %><br />
    <%= f.select :parent_id, @categories.collect{|c| [c.name, c.id]}, { :include_blank => true }%>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>