<h1>New taggable</h1>

<% form_for(@taggable) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tag_id %><br />
    <%= f.text_field :tag_id %>
  </p>
  <p>
    <%= f.label :taggable_id %><br />
    <%= f.text_field :taggable_id %>
  </p>
  <p>
    <%= f.label :taggable_type %><br />
    <%= f.text_field :taggable_type %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', taggables_path %>
