<p>
  <b>Tag:</b>
  <%=h @taggable.tag_id %>
</p>

<p>
  <b>Taggable:</b>
  <%=h @taggable.taggable_id %>
</p>

<p>
  <b>Taggable type:</b>
  <%=h @taggable.taggable_type %>
</p>


<%= link_to 'Edit', edit_taggable_path(@taggable) %> |
<%= link_to 'Back', taggables_path %>
